---
import Image from '~/components/common/Image.astro';
import casaParacas from '../../assets/images/propiedades/venta/casa/casa-venta-paracas.jpg';
---

<div class="card w-full lg:w-96 bg-white shadow-xl">
  <div class="inline-block w-full my-2.5 pt-0 pb-4 pl-0 pr-0 top-0 relative">

    <div class="">
      <a href="/propiedades/casa-paracas">
        <figure class="w-full h-48 object-cover">
          <Image src={casaParacas} alt="Casa Paracas"/>
        </figure>
      </a>
      <div class="tipov-searchid">
        <span class="base-badge badge-danger-xs">ID: 1066682</span>
      </div>
    </div>
    <div class="__datos">
      <div class="tipov-search">

        <span class="base-badge badge-blue-xs">CASA URBANA EN VENTA</span>&nbsp;

      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 __cont01">
          <div class="__casventap">
            <ul>
              <li>S/. 1'409,700.00</li>
              <li>-</li>
              <li>USD 370,000.00</li>
            </ul>
          </div>
          <div class="">
            <h5><i class=""></i>&nbsp;&nbsp;Ancash, Santa, Nuevo Chimbote</h5><br>
            <h5 class="">
              RUC 20604808805<br>
              Life Peru Inmobiliaria Sac
            </h5><br>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 __cont02">
          <div class="feature-data">

            <div class="__icofeat">
              <p class="">Área Terreno : <strong>199.75 m2</strong></p>
            </div>
            <div class="__icofeat">
              <p class="gallery-attr-item-value">Área Construida : <strong>400.00 m²</strong></p>
            </div>

          </div>
          <div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
