---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import PropertyCard2 from '~/components/widgets/PropertyCard2.astro';
import HeadLine from '~/components/ui/Headline.astro';
import CardPost from '~/components/ui/CardPost.astro'
import imagenPost1 from '../assets/images/blog/escoger-propiedad.jpg';
import imagenPost2 from '../assets/images/blog/invertir-propiedades-comerciales.jpg';

const metadata = {
  title: 'EHR Bienes Raíces',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero/>
  <Features
    id="features"
    tagline="Beneficios"
    title="Lo que obtienes con EHR Bienes Raíces"
    subtitle="Una de las empresas más importantes en Bienes raíces del Perú ‍️😍"
    items={[
      {
        title: 'Las mejores ofertas de ventas y alquiler',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:building',
      },
      {
        title: 'Excelentes ubicaciones',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:map-pin',
      },
      {
        title: 'Rapidez y facilidad',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:brand-speedtest',
      },
      {
        title: 'Transacciones seguras',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Ahorra hasta un 20%',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:pig-money',
      },
      {
        title: 'Soporte garantizado',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:24-hours',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline=""
    title="Nuestros Servicios"
    items={[
      {
        title: 'Contratos',
        description:
          'Benefiting from the performance and developer-friendly features of this modern static site generator.',
      },
      {
        title: 'Tasaciones',
        description:
          'Facilitating rapid design and consistent styling with this highly popular utility-first CSS framework.',
      },
      {
        title: 'Inversiones',
        description:
          'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: '~/assets/images/contratos.webp',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Procesos con los
        mejores estándares</h3>
      Un plan de acción para un mercado cada vez más exigente.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    items={[
      {
        title: 'Ventas',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Alquiler',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Asesoramientos',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Financiamientos',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: '~/assets/images/evaluaciones.webp',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Steps
    title="Adquiere tu propiedad en el menor tiempo."
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Contacta a nuestro asesor</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:device-mobile-message',
      },
      {
        title: 'Paso 2: <span class="font-medium">Elige tu propiedad</span>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:target-arrow',
      },
      {
        title: 'Paso 3: <span class="font-medium">Firma el contrato</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:writing',
      },
      {
        title: 'Listo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <HeadLine tagline="PROPIEDADES" title="Nuestras mejores ofertas"/>
  <div class="grid p-5 sm:gap-y-8 lg:grid-cols-3 sm:grid-cols-2 gap-4 md:gap-6 mb-16">
    <PropertyCard2 id="001" imagen="~/assets/images/propiedades/venta/casa/casa-venta-paracas.jpg"
                   especificaciones="Zona junto a pista, en esquina, totalmente urbanizada"
                   precioBaseSoles={170_000}
                   precioBaseDolares={44391.05} tipo="casa"
                   disponibilidad="venta"
                   ubicacion="Ica, Pisco, Paracas"
                   areaTotal={182} areaConstruida={50}/>

    <PropertyCard2 id="002"
                   imagen="~/assets/images/propiedades/venta/terreno-cultivo/terreno-cultivo-supe-01.jpg"
                   especificaciones="Tierras arenosas, agua extraída"
                   precioBaseSoles={70_000}
                   precioBaseDolares={18278.67} tipo="terreno de cultivo"
                   disponibilidad="venta"
                   ubicacion="Lima, Barranca, Supe"
                   areaTotal={10_063} areaConstruida={0}/>

    <PropertyCard2 id="003"
                   imagen="~/assets/images/propiedades/venta/terreno/terreno-irregular-huaraz.jpg"
                   especificaciones="A 10 MINUTOS DE LA CIUDAD, YA URBANIZADO, FRENTE DE 25.4 M"
                   precioBaseSoles={1500}
                   precioBaseDolares={391.69} tipo="terreno"
                   disponibilidad="venta"
                   ubicacion="Áncash, Huaraz, Toclla"
                   areaTotal={1747} areaConstruida={0}/>
  </div>

  <HeadLine tagline="BLOG" title="TENEMOS ALGUNOS POSTS"/>

  <div class="p-5 grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-4">
    <CardPost titulo="Aprende cómo escoger tu propiedad"
              descripcion="Escoger una propiedad de bienes raíces requiere un análisis cuidadoso y detallado de varios factores clave. Primero, es importante considerar la ubicación, evaluando aspectos como la proximidad a servicios esenciales, zonas comerciales, escuelas y transporte público. Además, es fundamental revisar el estado físico de la propiedad, incluyendo su estructura, instalaciones y posibles necesidades de reparación."
              src={imagenPost1}
              href="/aprende-como-escoger-tu-propiedad"
    />
    <CardPost titulo="Los Beneficios de Invertir en Propiedades Comerciales"
              descripcion="Invertir en propiedades comerciales es una excelente manera de diversificar tu portafolio y asegurar ingresos estables a largo plazo. A continuación, exploramos algunos de los beneficios clave de este tipo de inversión."
              src={imagenPost2}
              href="/los-beneficios-de-invertir-en-propiedades-comerciales"
    />

  </div>

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contáctanos',
        href: 'tel:+987654321',
        target: '',
        icon: 'tabler:phone-outgoing',
      },
    ]}
  >
    <Fragment slot="title">
      <span
        class="sm:whitespace-nowrap">No busques más</span>
    </Fragment>

    <Fragment slot="subtitle">
      Sé parte de nuestro clientes satisfechos y disfruta de todos los beneficios.
    </Fragment>
  </CallToAction>
</Layout>
